# App Web
flask
streamlit
tqdm
pandas

# Kedro
kedro
kedro-datasets

# OCR
pytesseract
scikit-image
pyclipper
python-bidi
Shapely

# Détection d’objets et utilitaires graphiques (Torch/torchvision sont déjà dans l’image de base)
matplotlib
psutil
Pillow
scipy
python-slugify

# Utilitaires divers
PyYAML
requests

# Compatibilité Altair & Kedro
typing-extensions>=4.10.0
packaging>=21.3
importlib-metadata<8.0
