# Core App
flask
streamlit
tqdm
pandas==2.2.3
numpy==1.24.4

# Kedro
kedro==0.19.5
kedro-datasets==1.6.0

# OCR
pytesseract==0.3.13
easyocr==1.7.2

# Détection objets
ultralytics==8.3.115
ultralytics-thop==2.0.14

# Optionnel
scipy
python-slugify

# Utilitaires
PyYAML
requests
